{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vanebel Ladrillos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
{% comment %} 	<link rel="shortcut icon" href="favicon.ico"> {% endcomment %}

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static '/css/animate.css'%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static '/css/icomoon.css'%}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static '/css/simple-line-icons.css'%}">
	<!-- Datetimepicker -->
	<link rel="stylesheet" href="{% static '/css/bootstrap-datetimepicker.min.css'%}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static '/css/flexslider.css'%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static '/css/bootstrap.css'%}">

	<link rel="stylesheet" href="{% static '/css/style.css'%}">
	



	<!-- Modernizr JS -->
	<script src="{% static '/js/modernizr-2.6.2.min.js'%}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div id="fh5co-container">
		<div id="fh5co-home" class="js-fullheight" data-section="home">

			<div class="flexslider">
				
				<div class="fh5co-overlay"></div>
				<div class="fh5co-text">
					<div class="container">
						<div class="row">
							<h1 class="to-animate">VANEBEL</h1>
							<h2 class="to-animate"><span>Materiales de construcción</span> </h2>
						</div>
					</div>
				</div>
			  	<ul class="slides">
			   	<li style="background-image: url({% static '/images/slide_1.jpg)'%}" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url({% static '/images/slide_2.jpg)'%}" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url({% static '/images/slide_3.jpg)'%}" data-stellar-background-ratio="0.5"></li>
			  	</ul>

			</div>
			
		</div>
		
		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container-fluid">
					<div class="fh5co-menu-1">
						<a href="#" data-nav-section="home">Home</a>
						<a href="#" data-nav-section="about">Sobre nosotros</a>
						
					</div>
					<div class="fh5co-logo">
						<a href="index.html">Vanebel</a>
					</div>
					<div class="fh5co-menu-2">
						<!-- <a href="#" data-nav-section="menu">Menu</a> -->
						<a href="#" data-nav-section="features">Galeria</a>
						<a href="#" data-nav-section="reservation">Contacto</a>
					</div>
				</div>
				
			</div>
		</div>

		<div id="fh5co-about" data-section="about">
			<div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url({% static '/images/ladrillos/hornos.jpg)'%}"></div>
			<div class="fh5co-2col fh5co-text">
				<h2 class="heading to-animate">Sobre nosotros</h2>
				<p class="to-animate"><span class="firstcharacter">E</span>l sector de la construcción requiere un embalaje adecuado a los requerimientos de la mercancía y su uso posterior, sin un embalaje correcto los elementos pueden perder resistencia. <span class="firstcharacter">V</span>anebel surge hace 20 años como una empresa local donde, con el correr del tiempo y de a poco, se fue extendiendo a todo el pais. El elemento mas comun es el ladrillo, el cual suele transportarse mediante el uso de pallets durante el embalaje asi como su posterior expedicion y almacenamiento. El mismo se realiza a traves de un flejado imprescindible para estabilizar la mercancia paletizada de forma eficiente.</p>
				<p class="text-center to-animate"><a href="#" class="btn btn-primary btn-outline">Descargar catalogo</a></p>
			</div>
		</div>


		<div id="fh5co-featured" data-section="features">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Galeria</h2>
						<p class="sub-heading to-animate">Nuestros ladrillos de excelente calidad son para base y pared. Sus beneficios son:</p>
					</div>
				</div>


				<div id="fh5co-type" style="background-image: url({% static '/images/slide_3.jpg)'%}" data-stellar-background-ratio="0.5">
					<div class="fh5co-overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-3 to-animate">
								<div class="fh5co-type">
									<h3 class="with-icon icon-1">Facilidad de uso</h3>
									<!-- <p>Breve descripcion de por que deberia elegirnos.</p> -->
								</div>
							</div>
							<div class="col-md-3 to-animate">
								<div class="fh5co-type">
									<h3 class="with-icon icon-2">Menor desperdicio y mayor racionalidad en la construccion</h3>
									<!-- <p>Breve descripcion de por que deberia elegirnos.</p> -->
								</div>
							</div>
							<div class="col-md-3 to-animate">
								<div class="fh5co-type">
									<h3 class="with-icon icon-3">Aumenta el rendimiento y reduce el costo de la mano de obra</h3>
									<p>Breve descripcion de por que deberia elegirnos.</p>
								</div>
							</div>
							<div class="col-md-3 to-animate">
								<div class="fh5co-type">
									<h3 class="with-icon icon-4">Sus cavidades pueden usarse como encofrado de vigas y columnas</h3>
									<p>Breve descripcion de por que deberia elegirnos.</p>
								</div>
							</div>
		
						</div>
					</div>
				</div>

				<br>
				<br>


				<div class="row">
					<div class="fh5co-grid">
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/Ladrillon_de_14x26x5.jpg)'%}"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Ladrillito semi-visto</h2>
								<!-- <span class="pricing">$7.50</span> -->
								<p>Mide 22x11</p>
							</div>
						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr4.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Grilled Chiken Salad</h2>
									<span class="pricing">$12.00</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr5.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Cheese and Garlic Toast</h2>
									<span class="pricing">$4.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
						</div>

						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr6.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Organic Egg</h2>
									<span class="pricing">$4.99</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr7.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Salad with Crispy Chicken</h2>
									<span class="pricing">$8.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
						</div>
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr8.jpg)'%}"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Ladrillon</h2>
								<span class="pricing"></span>
								<p>14x26x5</p>
							</div>
						</div>						
						
						
						
						

						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr9.jpg)'%}"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Ladrillito semi-vacio</h2>
								<!-- <span class="pricing">$7.50</span> -->
								<p>Descripcion y medidas del ladrillito semi-vacio</p>
							</div>
						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr10.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Grilled Chiken Salad</h2>
									<span class="pricing">$12.00</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr11.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Cheese and Garlic Toast</h2>
									<span class="pricing">$4.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
						</div>

						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr12.jpg'%})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Organic Egg</h2>
									<span class="pricing">$4.99</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr13.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Salad with Crispy Chicken</h2>
									<span class="pricing">$8.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
						</div>
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr14.jpg)'%}"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Tomato Soup with Chicken</h2>
								<span class="pricing">$12.99</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>	
						
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr15.jpg)'%}"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Ladrillito semi-vacio</h2>
								<!-- <span class="pricing">$7.50</span> -->
								<p>Descripcion y medidas del ladrillito semi-vacio</p>
							</div>
						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/ladr16.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Grilled Chiken Salad</h2>
									<span class="pricing">$12.00</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/Ladrillito_semi_visto.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Ladrillo chico</h2>
									<span class="pricing"></span>
									<p>22x11 ancho x5</p>
								</div>
							</div>
						</div>

						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/Tejuela_22x11x2.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Organic Egg</h2>
									<span class="pricing">$4.99</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/camion1.jpg)'%}"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Salad with Crispy Chicken</h2>
									<span class="pricing">$8.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
						</div>
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/lenia1.jpg'%})"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Tomato Soup with Chicken</h2>
								<span class="pricing">$12.99</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>						

						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/workingpng.jpg'%})"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Ladrillito semi-vacio</h2>
								<!-- <span class="pricing">$7.50</span> -->
								<p>Descripcion y medidas del ladrillito semi-vacio</p>
							</div>
						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/hornos.jpg'%})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Grilled Chiken Salad</h2>
									<span class="pricing">$12.00</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static '/images/ladrillos/lenia2.jpg'%})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Cheese and Garlic Toast</h2>
									<span class="pricing">$4.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>

							<!-- <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(media/images/ladrillos/ladr5.jpg)"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Cheese and Garlic Toast</h2>
									<span class="pricing">$4.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div> -->

						</div>


					</div>
							
					</div>
				</div>

			</div>
		</div>








		<div id="fh5co-events" data-section="events" style="background-image: url({% static '/images/slide_2.jpg'%});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2 to-animate">
						<h2 class="heading">¡Gracias!...</h2>
						<p class="sub-heading">«Gracias a vos, estamos creciendo más allá de nuestras expectativas. Sigamos compartiendo el éxito juntos».</p>
					</div>
				</div>
								</div>
			</div>
		</div>
	
				<!-- <div class="row">
					<div class="col-md-4">
						<div class="fh5co-event to-animate-2">
							<h3>Noticia 1</h3>
							<span class="fh5co-event-meta">19 de marzo de 2022</span>
							<p>Promocion o noticia para avisarle a la gente que visita la pagina</p>
							<p><a href="#" class="btn btn-primary btn-outline">Leer mas...</a></p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-event to-animate-2">
							<h3>Feriado del 02 de abril</h3>
							<span class="fh5co-event-meta">02 de abril 2022</span>
							<p>Debido al feriado del 2do de abril permaneceremos cerrada la atencion al publico</p>
							<p><a href="#" class="btn btn-primary btn-outline">Leer mas...</a></p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-event to-animate-2">
							<h3>Sorteo en facebook</h3>
							<span class="fh5co-event-meta">Disponible hasta el 30 de abril de 2022</span>
							<p>Lass condiciones del sorteo estan en la pagina de facebook nuestro</p>
							<p><a href="#" class="btn btn-primary btn-outline">Leer mas...</a></p>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<div id="fh5co-contact" data-section="reservation">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Contáctenos</h2>
						<p class="sub-heading to-animate">¡Su consulta no nos molesta en absoluto!</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 to-animate-2">
						<h3>Informacion de contacto</h3>
						<ul class="fh5co-contact-info">
							<li class="fh5co-contact-address ">
								<i class="icon-home"></i>
								Bowen, General Alvear. <br> 
								Provincia de Mendoza
							</li>
							<li><i class="icon-phone"></i> +54 9 2625 549675</li>
							<li><i class="icon-phone"></i> +54 9 2625 5996727</li>
							<li><i class="icon-envelope"></i>tatita6798@hotmail.com</li>
							<li><i class="icon-globe"></i> <a href="google.com" target="_blank">vanebel.com</a></li>
						</ul>
					</div>
					<form method='POST'
					 {% comment %} action="{% url 'contact' %}" {% endcomment %}
					  class="col-md-6 to-animate-2">
						{% csrf_token %}
						<h3>Formulario de contacto</h3>

						{% if messages %}
						{% for message in messages %}
						<div class="alert alert-success" role="alert">
							{{message}}
						  </div>
						{% endfor %}
						{% endif %}
						<div class="form-group ">
							<label for="name" class="sr-only">Nombre</label>
							<input id="name" name='name' class="form-control" placeholder="Name" type="text">
						</div>
						<div class="form-group ">
							<label for="email" class="sr-only">Email</label>
							<input id="email" name='email' class="form-control" placeholder="Email" type="email">
						</div>
						<div class="form-group">
							<label for="occation" class="sr-only">Occation</label>
							<select class="form-control" id="occation" name='subject'>
								<option>Select an Occation</option>
							  <option>Consulta</option>
							  <option>Pedido de presupuesto</option>
							  <option>Otro asunto</option>
							</select>
						</div>
						<!-- <div class="form-group ">
							<label for="date" class="sr-only">Date</label>
							<input id="date" class="form-control" placeholder="Date &amp; Time" type="text">
						</div> -->


							
						<div class="form-group ">
							<label for="message" class="sr-only">Mensaje</label>
							<textarea name="body" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
						</div>
						<div class="form-group ">
							<button class="btn btn-primary" type="submit">Enviar Mensaje</button>
						</div>
						</div>
				</form>
			</div>
		</div>

		
	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="to-animate">&copy; 2022 Victor Franco. <br> Designed by <a href="https://www.youtube.com/channel/UCDH0DJaVLkCDtl_YN9hhByw?view_as=subscriberg" target="_blank">Victor Franco</a><br> 
					</p>
					<p class="text-center to-animate"><a href="#" class="js-gotop">Ir Arriba</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	
	
	
	
	<!-- jQuery -->
	<script src="{% static '/js/jquery.min.js'%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static '/js/jquery.easing.1.3.js'%}"></script>
	<!-- Bootstrap -->
	<script src="{% static '/js/bootstrap.min.js'%}"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="{% static '/js/moment.js'%}"></script>
	<script src="{% static '/js/bootstrap-datetimepicker.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static '/js/jquery.waypoints.min.js'%}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static '/js/jquery.stellar.min.js'%}"></script>

	<!-- Flexslider -->
	<script src="{% static '/js/jquery.flexslider-min.js'%}"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="{% static '/js/main.js' %}"></script>
{% comment %} 	<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="media/__/firebase/8.6.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="media/__/firebase/8.6.2/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="media/__/firebase/init.js"></script> {% endcomment %}
	</body>
</html>

